/*   
display: blocks; -  fills whole row
display: inline; - only element size. Width and higths cannot be changed
diplay: inline-block;

  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
padding: 50px 0 0;
font: 14px;
color: #959595;
background-color: #ffffff;
}
header{
    color: #959595;
    background: #222222;
}
.menu-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 20px;
    border: 1px;
}
ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
    padding: 15px;
}
ul li{
    display: flex;
}
ul li a{
    text-decoration: none;
    color: #140202;
    padding: 15px 15px 15px 15px;
    border: 1px solid black;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:black;
    color: white;
}
.logo img{
    display: flex;
    width:18px;
    height: 20px;
}.logo{
    display: flex;
    position: start;
    color: #9d9d9d;
    list-style: none;
    margin-top: 15px;
    padding: 15px;
