* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: unset;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #222;
}

.header-menu-container {
    display: flex;
}

.main-header a {
    color: #9d9d9d;
}

.main-header a:hover {
    color: #fff;
}

.logo-container {
    padding: 15px;
    font-size: 18px;
}

.logo-img {
    width: 18px;
}

.header-menu {
    display: flex;
}

.header-menu li {
    padding: 15px;
    height:auto;
    min-height: 100%
}

.header-menu a {
    display: inline-block;
    margin-top: 3px;
}

.header-menu-li--active {
    background-color: #080808;
}

.header-menu-li--active a {
    color: #fff;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-text {
    height: 34px;
    padding: 6px 12px;
    margin-right: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-text:focus {
    border: 1px solid #66afe9;
}

.search-btn {
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #fff;
    font: inherit;
    border: 1px solid #ccc;
}

/* copied */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}