/*   
display: blocks; -  fills whole row
display: inline; - only element size. Width and higths cannot be changed
diplay: inline-block;

  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: block;
line-height: 20px;
padding-top:50px;
text-size-adjust:100%;
width:1519.2px;
height: 1477.4px;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
color: #959595;
background-color:#fff; 
}
header{
    display: flex;
    margin: 0 0 20px;
    font: 14px Helvetica;
    width: 1519.200px;
    height: 51px;
    color: #959595;
    background: #222222;
}
html{
    display: flex;
}
.menu-container{
    width: 1140px;
    height: 50px;
}
.menu-list li {
    display: flex;
}
ul {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    border-top: 0;
    margin: 0 0 20px;
    width: 1519.200px;
    height: 51px;

}
ul li{
    display: flex;
}
ul li a{
    text-decoration: none;
    color: #140202;
    padding: 15px 15px 15px 15px;
    border: 1px solid black;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:black;
    color: white;
}
.logo img{
    display: flex;
    width:18px;
    height: 20px;
}.logo{
    display: flex;
    position: start;
    color: #9d9d9d;
    list-style: none;
    margin-top: 15px;
    padding: 15px;
